<ion-header>
  <ion-toolbar>
    <ion-title>⚠️ Problemas ⚠️</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
</p>

<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-textarea rows="4"></ion-textarea>
</ion-item>


<ion-item>
  <ion-label>Incidencia</ion-label>
  <ion-textarea rows="4" clearOnEdit="true"></ion-textarea>
</ion-item>

<!-- Textarea with custom number of rows and cols -->
<ion-item>
  <ion-label>Notas</ion-label>
  <ion-textarea rows="4" cols="20" placeholder="¿Te gustaría recalcar algo?"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label position="stacked">Blablapiso ®</ion-label>
  <ion-textarea
    disabled
    readonly
    value="Gracias por elegirnos.">
  </ion-textarea>
</ion-item>

  <p>
    <button class="boton" ion-button color="secondary" full>Enviar</button>
  </p>

</ion-content>


