<ion-header>
  <ion-navbar>
    <ion-title>Nuestros clientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>

    <ion-list-header>Hoy</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849356442682785842/unknown.png">
      </ion-avatar>
      <h2>Pablo</h2>
      <p>¡Impresionante aplicación de mucha ayuda!</p>
      <ion-note item-end>3:43 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://ionicframework.com/docs/v3/dist/preview-app/www/assets/img/avatar-ts-buzz.png">
      </ion-avatar>
      <h2>Álvaro</h2>
      <p>Buenísima app mis dies we</p>
      <ion-note item-end>1:12 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849356319004557342/unknown.png">
      </ion-avatar>
      <h2>Alberto</h2>
      <p>Estaba buscando piso para estas vacaciones con mi pareja, la verdad que muy bien.</p>
      <ion-note item-end>10:03 am</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849356817938382888/unknown.png">
      </ion-avatar>
      <h2>Marta</h2>
      <p>Estás viendo pisos solo mi amoor?</p>
      <ion-note item-end>5:47 am</ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Ayer</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849356709323472906/unknown.png">
      </ion-avatar>
      <h2>Yoselín</h2>
      <p>Estás viendo pisos solo mi amoor? </p>
      <ion-note item-end>11:11 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849357018770702396/unknown.png">
      </ion-avatar>
      <h2>Ndiay'e Bahpi</h2>
      <p>20 segundos he aguantado. Vaya vergüenza ajena.</p>
      <ion-note item-end>8:54 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849357396513128538/unknown.png">
      </ion-avatar>
      <h2>Rosa</h2>
      <p>Los padres orgullosos supongo.</p>
      <ion-note item-end>7:22 am</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849357101246578769/unknown.png">
      </ion-avatar>
      <h2>Juan Antonio</h2>
      <p>Me regalan uno de esos y me joden el día. Imagínate si tengo que pagar </p>
      <ion-note item-end>2:08 am</ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Semana pasada</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://static-abcblogs.abc.es/wp-content/uploads/sites/144/2021/05/Choni-2.jpg">
      </ion-avatar>
      <h2>Lah Barbiee*</h2>
      <p>Buenísima experiencia</p>
      <ion-note item-end>Sun</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849357728669106218/unknown.png">
      </ion-avatar>
      <h2>Ata Kito</h2>
      <p>Lo mejor es que nos dieron de desayunar gratis</p>
      <ion-note item-end>Fri</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849357897208168457/unknown.png">
      </ion-avatar>
      <h2>Luis</h2>
      <p>Justo al lado del centro, una pasada</p>
      <ion-note item-end>Wed</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn.discordapp.com/attachments/829724903694794798/849358019023601674/unknown.png">
      </ion-avatar>
      <h2>Xiao Xoxin</h2>
      <p>No tenía sitio para irme con la parienta y pillamos rápido una casa por blablapiso</p>
      <ion-note item-end>Mon</ion-note>
    </ion-item>

  </ion-list>

</ion-content>