<ion-header>
  <ion-navbar>
    <ion-title>Términos del Servicio</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #popoverContent padding class="popover-page">
  <div #popoverText class="text-to-change">
    <div>1.    Descripción
Comuto SA (de aquí en adelante denominada “BlaBlaCar”) ha desarrollado una plataforma de trayectos compartidos a la que se puede acceder desde el sitio web www.blablacar.es o desde una aplicación móvil, diseñada (i) para poner en contacto a los conductores que viajan a un determinado destino con pasajeros que se dirigen al mismo lugar, de forma que puedan compartir el Trayecto así como los costes asociados al mismo y (ii) para reservar billetes para trayectos en autobús operados por Operadores de autobuses (en adelante denominada la “Plataforma”).

Los presentes términos y condiciones tienen por objeto regular el acceso y los términos de uso de la Plataforma. Se ruega leer atentamente estas condiciones. Entiendes y reconoces que BlaBlaCar no es parte en ningún contrato, acuerdo o relación contractual, de ninguna clase, suscrito entre los Usuarios de la Plataforma entre el Operador de autobuses y tú.

Al hacer clic en «Iniciar sesión con Facebook» o «Registrarse con una dirección de correo electrónico», reconoces que has leído y aceptado las presentes condiciones generales de uso.

Si inicias sesión con tu Cuenta en la plataforma de BlaBlaCar de otro país (por ejemplo, www.blablacar.com.br), por favor, ten en cuenta que se aplicarán (i) los términos y condiciones de esa plataforma, (ii) la política de privacidad de dicha plataforma y (iii) las normativas y reglamentos legales de dicho país. Asimismo, la información de tu Cuenta, datos personales incluidos, se tendrá que transferir a la entidad legal que opere la otra plataforma.</div>
  </div>
</ion-content>