<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nuestro equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">En Construcción</strong>
    <p>Actualmente <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Blablapiso</a> está en consutrucción</p>
  </div>

  <!-- ### COLLAPSIBLE IMAGES ### -->
<ion-content class="card-background-page">
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/829724903694794798/846062319980773387/unknown.png"/>
    <div class="card-title">Leandro Calvo Durán</div>
    <div class="card-subtitle">Disfruta de un apartamento con tu pareja</div>
  </ion-card>

  <ion-card> 
    <img src="https://cdn.discordapp.com/attachments/829724903694794798/846064548129931264/unknown.png"/>
    <div class="card-title">Manuel Ramírez Otero</div>
    <div class="card-subtitle">¿Eres más de campo que las amapolas?</div>
  </ion-card>

  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/829724903694794798/846063435870765126/pp.png"/>
    <div class="card-title">Ángel Loaiza Dávila</div>
    <div class="card-subtitle">Free Covid</div>
  </ion-card>

  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/829724903694794798/846062836946174033/6c4686ff-76c4-443f-ac57-9e6cda2aa5d9.png"/>
    <div class="card-title">Álvaro Chamorro</div>
    <div class="card-subtitle">Vive como un rey</div>
  </ion-card>

</ion-content>

</ion-content>




